In [8]:
import pandas as pd
import csv

data = pd.read_csv('conformal_prediction_full.csv')
print(data.info())
top90 = data[ data['percentage'] >= 0.1 ]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8527 entries, 0 to 8526
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   label       8527 non-null   float64
 1   class       8527 non-null   float64
 2   count       8527 non-null   float64
 3   percentage  8527 non-null   float64
dtypes: float64(4)
memory usage: 266.6 KB
None

In [30]:
data[ data['label'] == 309 ] ## check specific category

      label  class  count  percentage
2000  309.0  410.0    3.0    0.050847
2001  309.0  599.0    4.0    0.067797
2002  309.0  309.0   44.0    0.745763
2003  309.0  308.0    4.0    0.067797
2004  309.0  304.0    1.0    0.016949
2005  309.0   94.0    1.0    0.016949
2006  309.0  316.0    1.0    0.016949
2007  309.0  985.0    1.0    0.016949

In [9]:
top90

      label  class  count  percentage
0       0.0    0.0   48.0    0.923077
5       1.0    1.0   47.0    0.959184
8       2.0    2.0   44.0    0.800000
10      2.0    3.0    6.0    0.109091
14      3.0    3.0   44.0    0.758621
...     ...    ...    ...         ...
8499  997.0  997.0   40.0    0.689655
8506  998.0  987.0   33.0    0.440000
8507  998.0  998.0   38.0    0.506667
8511  999.0  700.0   13.0    0.213115
8512  999.0  999.0   29.0    0.475410

[1349 rows x 4 columns]

In [26]:
grouped = top90.groupby('label').filter(lambda x: x['class'].nunique() > 2)
grouped = grouped.groupby('label')['class'].apply(set)
grouped

label
32.0               {32.0, 30.0, 31.0}
36.0               {35.0, 36.0, 37.0}
55.0               {64.0, 59.0, 55.0}
73.0               {73.0, 74.0, 77.0}
101.0           {385.0, 386.0, 101.0}
108.0           {393.0, 108.0, 973.0}
165.0           {234.0, 236.0, 165.0}
167.0           {162.0, 166.0, 167.0}
204.0           {153.0, 155.0, 204.0}
231.0           {232.0, 230.0, 231.0}
238.0           {240.0, 241.0, 238.0}
240.0           {240.0, 241.0, 238.0}
249.0           {248.0, 249.0, 250.0}
250.0           {248.0, 249.0, 250.0}
271.0           {272.0, 269.0, 271.0}
281.0           {281.0, 282.0, 285.0}
282.0    {281.0, 282.0, 292.0, 285.0}
285.0           {281.0, 282.0, 285.0}
345.0           {345.0, 690.0, 346.0}
386.0           {385.0, 386.0, 101.0}
402.0           {402.0, 819.0, 546.0}
413.0           {764.0, 652.0, 413.0}
479.0           {817.0, 436.0, 479.0}
481.0           {848.0, 481.0, 482.0}
482.0           {848.0, 482.0, 485.0}
485.0    {848.0, 754.0, 482.0, 485.0}
490.0           {488.0, 490.0, 679.0}
509.0           {865.0, 509.0, 582.0}
516.0           {520.0, 516.0, 431.0}
527.0           {664.0, 526.0, 527.0}
538.0           {497.0, 538.0, 668.0}
578.0           {601.0, 578.0, 982.0}
598.0           {851.0, 548.0, 598.0}
602.0           {416.0, 602.0, 702.0}
664.0    {664.0, 526.0, 782.0, 527.0}
729.0           {729.0, 534.0, 495.0}
748.0           {709.0, 748.0, 893.0}
782.0    {664.0, 851.0, 782.0, 527.0}
810.0           {810.0, 508.0, 878.0}
817.0           {817.0, 751.0, 511.0}
824.0           {824.0, 474.0, 735.0}
838.0           {929.0, 838.0, 631.0}
841.0           {841.0, 474.0, 610.0}
899.0           {505.0, 899.0, 725.0}
907.0           {440.0, 907.0, 966.0}
908.0           {404.0, 908.0, 895.0}
947.0           {992.0, 947.0, 997.0}
968.0           {504.0, 659.0, 968.0}
Name: class, dtype: object

In [ ]:
# stage and guitar - 402
# car wheel and sports car - 479
# assault gun and rifle - 413
# cassette and tape player - 485
# ring armour and neklece - 490
# candy store and toy shop -  509
# dome and msque - 538 
# gown (suknia) and groom - 578
# horizontal bar and parallel bars - 602
# plate rack and china closet and dishwasher - 782 - good example
# stole and cardigan - 824
# sun blocker and ice lolly - 838 - 929 - good example ?
# sweat shirt  and t-shirt - 841
# mushroom and agaric - 947 
# cup and mixing bowl - 968 ???